.header-pets__wrapper {
  padding: 30px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px){
    padding: 30px 20px 30px 20px;
  }
}
.header-pets__title {
  color: $color-dark-h;
}

.header-pets__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: $color-dark-button-text;
  margin: 10px 0 0 0;
  padding-left: 4px;
}

.header-pets__link {
  color: $color-dark-h;
}

#our {
  border-bottom: 3px solid $color-primary;
  text-shadow: none !important;
  cursor: default;
}
.pets__burger-line {
  background-color: black !important;
}
.header__list.open{
  @media (max-width: 768px) {
  transform: translateX(0);
  }

}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  color: $color-light;
  gap: 35px;
  margin-right: 0;
  @media (min-width: 768px) {
    justify-content: right;
    gap: 35px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 320px;
    height: 823px;

    position: fixed;
    top: 0;
    //left: 0;
    right: 0;
    background-color:$color-dark-button-text;
    z-index: 10;
    //padding: 20px;
    transform: translateX(120%);
    transition: 0.3s all linear;
  }
  
}

.header-pets__link {
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 160%;
      
  display: flex;
  list-style: none;
  cursor: pointer;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: $color-light;
}
}
.header__pets {
  @media (max-width: 768px){
    background-color: $color-dark-light;
  }

}